@model BayMaxShop.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<div class="container" style="margin-top: 260px;">


    <div class="row" style="display: flex; justify-content: center; align-items: center; ">

        <div class="col-md-12" style="position: relative;">

            <h2 style="margin-left: 467px; color: red; position: absolute; z-index: 10; margin-top: -40px;">@ViewBag.Title.</h2>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 style="margin-left: 415px; margin-top: 10px; position: absolute; z-index: 10; color: white;">Create a new account.</h4>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group" style="position: absolute; z-index: 10; margin-left: 303px; margin-top: 60px; color:white; font-size: 0px ; width: 550px; ">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10" style="opacity: 0.5;">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>
                <div class="form-group" style="position: absolute; z-index: 10; margin-left: 303px; margin-top: 115px; color: white; font-size: 0px; width: 550px;">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", })
                    <div class="col-md-10" style="opacity: 0.5; ">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group" style="position: absolute; z-index: 10; margin-left: 303px; margin-top: 160px; color: white; font-size: 0px; width: 550px;">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10" style="margin-top: 10px; opacity: 0.5;">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    </div>
                </div>
                <div class="form-group" style="position: absolute; z-index: 10; margin-left: 421px; margin-top: 240px; color: white; ">
                    <div class="col-md-offset-2 col-md-10" style="">
                        <input style="width: 150px; border-radius: 10px; background-color: #D6D6D6;" type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
                <div class="img-loginbackground" style="position: absolute; z-index: 3;">
                    <img style="  background-size: cover; width: 1800px; height: 900px; margin-left: -320px; margin-top: -360px;  " src="~/Content/assets/images/ss.png" />
                </div>


            }
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
